<div class="container mt-4">
  <h1>Menu Optimization Dashboard</h1>
  
  <div class="card">
    <div class="card-body">
      <p>Total Actions: <%= @optimization_plan[:action_items].count %></p>
      <p>Items to Adjust: <%= @optimization_plan[:estimated_impact][:items_to_adjust] %></p>
    </div>
  </div>
</div>
