<div class="container mt-4">
  <h1>Menu Engineering Matrix</h1>
  
  <div class="card mb-3">
    <div class="card-body">
      <p>Stars: <%= @menu_engineering[:summary][:stars_count] %></p>
      <p>Plowhorses: <%= @menu_engineering[:summary][:plowhorses_count] %></p>
      <p>Puzzles: <%= @menu_engineering[:summary][:puzzles_count] %></p>
      <p>Dogs: <%= @menu_engineering[:summary][:dogs_count] %></p>
    </div>
  </div>
</div>
