<div class="modal-footer modal-footer-spaced">
  <button type="button" class="btn-touch-secondary" data-bs-dismiss="modal" aria-label="<%= t('common.close') %>"><%= t('smartmenus.showModals.cancel') %></button>
  <button id="addItemToOrderButton" type="button" class="btn-touch-primary">
    <i class="bi bi-plus" aria-hidden="true"></i>
    <%= restaurantCurrency.symbol ? restaurantCurrency.symbol : "" %><span id="a2o_menuitem_price"></span>
  </button>
</div>
