<div class="modal-footer gap-2">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="<%= t('common.close') %>"><%= t('smartmenus.showModals.cancel') %></button>
  <button id="addItemToOrderButton" type="button" class="btn btn-primary">
    <i class="bi bi-plus" aria-hidden="true"></i>
    <%= restaurantCurrency.symbol ? restaurantCurrency.symbol : "" %><span id="a2o_menuitem_price"></span>
  </button>
</div>
