<% if Restaurantlocale.where(restaurant_id: @restaurant.id, status: 'active').count > 0 %>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="lovale-actions" type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-globe-americas"></i>
            </button>
            <ul style="--bs-dropdown-padding-y: 0.0rem;--bs-dropdown-min-width:0em" class="dropdown-menu dropdown-menu-dark" aria-labelledby="locales">
                <% Restaurantlocale.where(restaurant_id: @restaurant.id, status: 'active').each do |restaurantlocale| %>
                    <li>
                        <a style="padding-right:4px;padding-left:4px" class="setparticipantlocale dropdown-item" href="<%= restaurantlocale.locale %>">
                            <img src="<%= restaurantlocale.flag %>" tooltip="<%= restaurantlocale.language %>"class="flag-icon">
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
