<div class="modal fade" id="addItemToOrderModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel" aria-hidden="true">
  <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
  <% else %>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
  <% end %>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addItemToOrderModalLabel"><%= t(".addToOrder") %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="padding:0px" class="modal-body">
        <% if current_user %>
        <% else %>
            <% if (@menu.displayImages == true && @menu.restaurant.displayImages == true) || (@menu.displayImagesInPopup == true && @menu.restaurant.displayImagesInPopup == true) %>
                <div class="row">
                    <div class="col-12">

                        <div class="image-container position-relative">
                            <!-- Placeholder image (same size as final image) -->
                            <img id="placeholder" src="https://placehold.co/600x400/white/white" class="w-100" style="visibility: visible;">
                            <!-- Spinner overlay -->
                            <div id="spinner" class="position-absolute top-50 start-50 translate-middle">
                                <div class="spinner-border text-primary"></div>
                            </div>
                            <%= image_tag "",
                                :id => "a2o_menuitem_image",
                                :title => "",
                                :class => "addItemToOrderImage card-img-top",
                                :onload => "fadeIn(this)",
                                :style => "display:none;"
                            %>
                        </div>


                    </div>
                </div>
                <div style="margin-top:20px;"></div>
            <% end %>
        <% end %>
        <span style="display:none" id="a2o_ordr_id"></span>
        <span style="display:none" id="a2o_menuitem_id"></span>
        <div style="padding-left:15px;padding-right:15px;" class="row">
            <div class="col-12">
                <span class="h4" id="a2o_menuitem_name"></span>
            </div>
        </div>
        <div style="padding-left:15px;padding-right:15px;" class="row">
            <div class="col-12">
                <span id="a2o_menuitem_description"></span>
            </div>
        </div>
      </div>
      <div style='border-top:0px;padding:0px' class="modal-footer">
        <span class="float-end">
            <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                <button id="addItemToOrderButton" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <%= @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "" %><span id="a2o_menuitem_price"></span>
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </span>
      </div>
    </div>
  </div>
</div>