<div class="modal fade" id="addItemToOrderModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel" aria-hidden="true">
  <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
  <% else %>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
  <% end %>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addItemToOrderModalLabel">Add Item To Order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
            <div class="row">
                <div class="col-12">
                    <%= image_tag "",
                        :id => "a2o_menuitem_image",
                        :title => "",
                        :class => "rounded card-img-top",
                        :onload => "fadeIn(this)",
                        :style => "-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));display:none;"
                    %>
                </div>
            </div>
        <div style="margin-top:20px;"></div>
        <% end %>
        <span style="display:none" id="a2o_ordr_id"></span>
        <span style="display:none" id="a2o_menuitem_id"></span>
        <div class="row">
            <div class="col-12">
                <span class="h4" id="a2o_menuitem_name"></span>
            </div>
        </div>
        <div style="margin-top:5px;" class="row">
            <div class="col-12">
                <span id="a2o_menuitem_description"></span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="h4 float-end">
            <%= @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "" %><span id="a2o_menuitem_price"></span>
            <button id="addItemToOrderButton" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-plus"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>