<% if allergyns && allergyns.length > 0 %>
    <div style="padding-top:20px" id="menusection_allergyns"></div>
    <div class="card">
        <div class="card-body mx-auto text-center text-warning">
            <div class="row ">
                <div class="col-12">
                    <h2><%= t(".allergyns") %></h2>
                    <% allergyns.each do |allergyn| %>
                        <% cache([allergyn.cache_key_with_version, I18n.locale]) do %>
                            <span style='white-space:nowrap'>| <b><%= allergyn.symbol %></b>&nbsp;-&nbsp;<%= allergyn.name %> |&nbsp;&nbsp;</span>
                        <% end %>
                    <% end %>
                </div>
            </div>
       </div>
    </div>
<% end %>
