<div class="btn-group" role="group">
    <button id="table-selector-staff" type="button" class="btn-touch-dark btn-touch-sm dropdown-toggle br-0-0-8-8" data-bs-toggle="dropdown" aria-expanded="false">
        <% if tablesetting %>
            <%= tablesetting.name %>
        <% else %>
            <%= t(".table") %>
        <% end %>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark z-index-1000 dropdown-padding-y-05">
        <% Smartmenu.where( restaurant_id: restaurant.id, menu_id: menu.id ).includes([:tablesetting]).order('id ASC').each do |smartmenu| %>
            <% if smartmenu.tablesetting && smartmenu.tablesetting.status == 'free' %>
                <li>
                    <%= link_to smartmenu_path(smartmenu.slug), data: { turbo: false }, class: "dropdown-item min-h-44 d-flex align-items-center py-2 px-3" do %>
                        <%= smartmenu.tablesetting.name %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>

