<div class="btn-group" role="group">
        <div class="btn-group" role="group">
            <button id="table-selector-staff" type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <% if tablesetting %>
                    <%= tablesetting.name %>
                <% else %>
                    <%= t(".table") %>
                <% end %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" style="z-index: 1050;">
                <% Smartmenu.where( restaurant_id: restaurant.id, menu_id: menu.id ).includes([:tablesetting]).order('id ASC').each do |smartmenu| %>
                    <% if smartmenu.tablesetting && smartmenu.tablesetting.status == 'free' %>
                        <li>
                            <%= link_to smartmenu_path(smartmenu.slug), data: { turbo: false }, class: "dropdown-item" do %>
                                <%= smartmenu.tablesetting.name %>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
</div>

