<div class="modal fade" id="openOrderModal" tabindex="-1" aria-labelledby="openOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="openOrderModalLabel">Start Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to start an order for this table?
            </div>
            <div class="modal-footer">
                <button id="start-order" type="button" data-bs-dismiss="modal" class="btn btn-primary">Start</button>
            </div>
        </div>
    </div>
</div>