<div class="modal fade" id="addNameToParticipantModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addNameToParticipantModalLabel">Customise order, add your name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="form-control" id="ordr_id">
                      <div class="form-group row">
                        <div class="col-3">
                        <label for="name" class="form-label">Name:</label>
                        </div>
                        <div class="col-9">
                        <input type="text" class="form-control" id="name">
                        </div>
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="addNameToParticipantButton" type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="bi bi-plus"></i> Add</button>
            </div>
        </div>
    </div>
</div>