<% if src.present? %>
  <%= image_tag src,
      title: alt,
      class: "float-left img-fluid smartmenu-image-placeholder",
      onload: "fadeIn(this)",
      srcset: (defined?(srcset) && srcset.present?) ? srcset : nil,
      sizes: (defined?(sizes) && sizes.present?) ? sizes : nil,
      loading: (defined?(loading) ? loading : 'lazy')
  %>
<% else %>
  <div class="float-left img-fluid d-flex align-items-center justify-content-center bg-light smartmenu-image-placeholder">
    <span class="text-muted"><%= t('smartmenus.showImage.no_image') %></span>
  </div>
<% end %>
