<div class="card-footer py-0 d-flex align-items-stretch">
  <div class="ms-auto d-flex flex-wrap align-items-stretch gap-2"
       data-tasting-meta='<%= tasting_meta.to_json.html_safe %>'
       data-section-id="<%= menusection.id %>">
    <% if params[:view].to_s == 'staff' %>
      <button class="btn btn-lg btn-outline-light d-flex align-items-center h-100 align-self-stretch" type="button" disabled>Show courses</button>
    <% end %>
    <button class="btn btn-lg btn-dark tasting-cta d-flex align-items-center h-100 align-self-stretch br-bottom-right-4" type="button" disabled>Add Tasting Menu</button>
  </div>
</div>
