<%= render 'shared/currency' %>

<% 
  # Determine view type: force customer view if ?view=customer, otherwise use authentication status
  show_customer_view = @force_customer_view || !current_user 
%>

<%# Cache the menu header - invalidates when smartmenu, menu, or restaurant changes %>
<% cache [@smartmenu, @menu, @restaurant, show_customer_view ? 'customer' : 'staff'], expires_in: 1.hour do %>
  <% if show_customer_view %>
  <div id="menuc" class="menu-sticky-header menu-sticky-header-mobile">
  <% else %>
  <div id="menuu" class="menu-sticky-header menu-sticky-header-mobile">
  <% end %>
      <%= render partial: "smartmenus/showMenuBanner" %>
  </div>
<% end %>

<div id="menuContentContainer">
    <%# Cache menu content separately - includes order state for dynamic content %>
    <% cache_key = [@smartmenu, @menu, @allergyns.maximum(:updated_at), @openOrder&.updated_at, show_customer_view ? 'customer' : 'staff'] %>
    <% cache cache_key, expires_in: 30.minutes do %>
        <% if show_customer_view %>
            <%= render partial: "smartmenus/showMenuContentCustomer", locals: { order: @openOrder, menu: @menu, allergyns: @allergyns, restaurantCurrency: @restaurantCurrency, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant } %>
        <% else %>
            <%= render partial: "smartmenus/showMenuContentStaff", locals: { order: @openOrder, menu: @menu, allergyns: @allergyns, restaurantCurrency: @restaurantCurrency, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant } %>
        <% end %>
    <% end %>
</div>
