<div class="row">
  <div class="col-sm-6">
    <h1>Menus</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_menu_path, class: 'btn btn-primary' do %>
    Add New Menu
  <% end %>
  </div>
</div>
<div id="menu-table">
</div>

<script>
    var menuTable = new Tabulator("#menu-table", {
      height:405,
      responsiveLayout:true,
      pagination:"local",
      paginationSize:10,
      paginationCounter:"rows",
      ajaxURL: '/menus.json',
      layout:"fitColumns",
      columns: [
      {
        title:"Restaurant", field:"restaurant_id", responsive:0, width:200, frozen:true, formatter:"link", formatterParams: {
            labelField:"restaurant.name",
            urlPrefix:"/restaurants/",
        }
      },
      {
        title:"Name", field:"id", responsive:0, formatter:"link", formatterParams: {
            labelField:"name",
            urlPrefix:"/menus/",
        }
       },
       {title:"Status", field:"status", width:150, responsive:0},
       {title:"Seq", field:"sequence", width: 100, hozAlign:"right", headerHozAlign:"right", },
       {title:"Created", field:"created_at", width:200, responsive:4, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       },
       {title:"Updated", field:"updated_at", width:200, responsive:5, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       }
      ],
    });
    //trigger an alert message when the row is clicked
    menuTable.on("rowClick", function(e, row){
    });
</script>
