<div class="row">
  <div class="col-sm-6">
    <h1><%=t(".inventories")%></h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_inventory_path, class: 'btn btn-sm btn-primary' do %>
    <i class="bi bi-plus"></i> <%=t(".inventory")%>
  <% end %>
  </div>
</div>
<div style="padding-top:10px" id="inventory-table">
</div>