<div class="row">
  <div class="col-6">
    <h1><%=t(".inventories")%></h1>
  </div>
  <div class="col-6 text-end">
  <%= link_to new_inventory_path, class: 'btn btn-sm btn-dark' do %>
    <i class="bi bi-plus"></i> <%=t(".inventory")%>
  <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="inventory-table">
</div>