<div class="row">
  <div class="col-sm-6">
    <h1>Order Items</h1>
  </div>
  <div class="col-sm-6 text-end">
    <%= link_to new_ordritem_path, class: 'btn btn-sm btn-primary' do %>
      <i class="bi bi-plus"></i> Order Item
    <% end %>
  </div>
</div>
<% if @restaurantCurrency %>
    <div style="display:none" id="restaurantCurrency">
        <% if @restaurantCurrency.symbol %>
            <%= @restaurantCurrency.symbol %>
        <% else %>
            <%= @restaurantCurrency.iso_code %>&nbsp;
        <% end %>
    </div>
<% end %>
<div style="padding-top:10px" id="orderitem-table">
</div>
