<div class="page-header">
  <%= link_to metrics_path, class: 'btn btn-default' do %>
    All Metrics
  <% end %>
  <%= link_to edit_metric_path(@metric), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show metric</h1>
</div>

<dl class="dl-horizontal">
</dl>
