<h1>Order Analytics</h1>
<div id="dw-orders-mv-table" data-json-url="<%= dw_orders_mv_index_path(format: :json) %>"></div>
<div id="tabulator-loading" style="display:none;">Loading data...</div>
<%= javascript_import_module_tag "dw_orders_mv" %>