<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1>Edit Menu Section</h1>
    </div>
    <div class="col-sm-2">
        <% if @menusection.persisted? %>
          <%= link_to "Cancel", edit_menu_path(@menusection.menu), class: 'float-end btn btn-sm btn-light' %>
        <% else %>
          <%= link_to "Cancel", edit_menu_path(@menusection.menu), class: 'float-end btn btn-sm btn-light' %>
        <% end %>
    </div>
  </div>
</div>
<%= render 'form', menusection: @menusection %>