<div class="row">
  <div class="col-sm-6">
    <h1>Menu Sections</h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="activate-row" class='btn btn-success' disabled>Activate</button>
    <button id="deactivate-row"class='btn btn-danger' disabled>Deactivate</button>
    <%= link_to new_menusection_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus"></i> Menu Section
    <% end %>
  </div>
</div>
<div id="menusection-table">
</div>
