<div class="row">
  <div class="col-sm-6">
    <h1>Menu Sections</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_menusection_path, class: 'btn btn-primary' do %>
    Add New Menu Section
  <% end %>
  </div>
</div>
<div id="menusection-table">
</div>

<script>
    var menusectionTable = new Tabulator("#menusection-table", {
      height:405,
      responsiveLayout:true,
      pagination:"local",
      paginationSize:10,
      paginationCounter:"rows",
      ajaxURL: '/menusections.json',
      layout:"fitColumns",
      initialSort:[
        {column:"sequence", dir:"asc"},
      ],
      movableRows:true,
      columns: [
      {
        formatter:"rowSelection", titleFormatter:"rowSelection", frozen:true, width: 20, headerHozAlign:"center", hozAlign:"center", headerSort:false, cellClick:function(e, cell) {
           cell.getRow().toggleSelect();
        }
      },
      { rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30 },
      {
        title:"Menu", field:"menu_id", responsive:0, width:200, frozen:true, formatter:"link", formatterParams: {
            labelField:"menu.name",
            urlPrefix:"/menus/",
        }
      },
      {title:"Seq", field:"sequence", width: 100, hozAlign:"right", headerHozAlign:"right"},
      {
        title:"Name", field:"id", responsive:0, formatter:"link", formatterParams: {
            labelField:"name",
            urlPrefix:"/menusections/",
        }
       },
       {title:"Status", field:"status", width:150, responsive:0},
       {title:"Created", field:"created_at", width:200, responsive:4, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       },
       {title:"Updated", field:"updated_at", width:200, responsive:5, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       }
      ]
    });
    menusectionTable.on("rowMoved", function(row){
        console.log("Row: " + row.getData().name + " has been moved");
    });
    //trigger an alert message when the row is clicked
    menusectionTable.on("rowClick", function(e, row){
    });
</script>
