<div class="row">
  <div class="col-sm-6">
    <h1>Orders</h1>
  </div>
</div>

<% if @restaurantCurrency %>
    <div style="display:none" id="restaurantCurrency">
        <% if @restaurantCurrency.symbol %>
            <%= @restaurantCurrency.symbol %>
        <% else %>
            <%= @restaurantCurrency.iso_code %>
        <% end %>
    </div>
<% end %>
<div id="order-table" style="display:none">
</div>