<% if @restaurantCurrency %>
    <div style="display:none" id="restaurantCurrency">
        <% if @restaurantCurrency.symbol %>
            <%= @restaurantCurrency.symbol %>
        <% else %>
            <%= @restaurantCurrency.iso_code %>
        <% end %>
    </div>
<% end %>
