<% flash.each do |msg_type, message| %>
    <div style='padding:1px;display:inline-block;' class="alert alert-sm alert-light alert-dismissible fade show" role="alert">
      <small><small><%= message %></small></small>
    </div>
<% end %>