<% flash.each do |msg_type, message| %>
    <div class="inline-block-padded alert alert-sm alert-light alert-dismissible fade show" role="alert">
      <small><small><%= message %></small></small>
    </div>
<% end %>