<div class="row">
  <div class="col-6">
    <h1>Ingredients</h1>
  </div>
  <div class="col-6 text-end">
  <%= link_to new_ingredient_path, class: 'btn btn-sm btn-dark' do %>
    <i class="bi bi-plus"></i> Ingredient
  <% end %>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="ingredient-table">
</div>