<% if current_user %>
    <h1>Landing Page</h1>
<% else %>
  <div class="container px-1 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Menus, only smarter</h2>
    <p style='text-align:justify;' >Discover the future of dining with our seamless digital menu ordering system. Elevate your service and enhance your customers' experience through menus which are:</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-fingerprint"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Contactless</h3>
          <p style='text-align:justify;min-height:120px;'>In a world where safety is paramount, our digital menus offer a fully contactless experience. Customers simply scan with their smartphones to browse, order, and pay reducing physical contact while promoting a safer dining environment.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-activity"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Effortless</h3>
          <p style='text-align:justify;min-height:120px;'>Say goodbye to outdated, easily damaged menus. Digital menus streamline the ordering process, allowing customers to view the menu and place orders at their own pace, minimizing wait times for both guests and staff.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-bullseye"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Accurate</h3>
          <p style='text-align:justify;min-height:120px;'>With digital ordering, customers can select items directly from the digital menu, helping reduce miscommunication and errors in orders enhancing satisfaction on both sides.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-emoji-heart-eyes"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Engaging</h3>
          <p style='text-align:justify;min-height:120px;'>Our interactive digital menus come alive with vibrant images, item descriptions, and tailored recommendations. Upsell effortlessly with targeted suggestions and promotions, increasing customer spend and satisfaction.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-tree"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Environmental</h3>
          <p style='text-align:justify;min-height:120px;'>Reduce paper waste and embrace sustainability. By eliminating printed menus, digital ordering supports your eco-friendly goals while providing a modern dining experience.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-graph-up-arrow"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Insightful</h3>
          <p style='text-align:justify;min-height:120px;'>Gain valuable insights into your customers' preferences. Our system gathers data on ordering patterns, allowing you to tailor your offerings and improve service based on real customer insights.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="metrics-table" class="container px-1 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">The Numbers ...</h2>
    <p style='text-align:justify;'>Our stats, restaurants, menus, orders & value under management:</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h3 class="card-title">Restaurants</h3>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfRestaurants"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h3 class="card-title">Menus</h3>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfMenus"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h3 class="card-title">Orders</h3>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfOrders"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h3 class="card-title">Total Order Value</h3>
          </div>
          <div class="card-body">
            <h1 style="color:green;">
                $<span id="metrics-totalOrderValue"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
