<div class="row">
  <div class="col-sm-6">
    <h1>Menu Items</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_menuitem_path, class: 'btn btn-primary' do %>
    Add New Menu
  <% end %>
  </div>
</div>
<div id="menuitem-table">
</div>

<script>
    var menuItemTable = new Tabulator("#menuitem-table", {
      height:405,
      responsiveLayout:true,
      pagination:"local",
      paginationSize:10,
      paginationCounter:"rows",
      ajaxURL: '/menuitems.json',
      layout:"fitColumns",
      initialSort:[
        {column:"sequence", dir:"asc"},
      ],
      movableRows:true,
      columns: [
      {
        formatter:"rowSelection", titleFormatter:"rowSelection", frozen:true, width: 20, headerHozAlign:"center", hozAlign:"center", headerSort:false, cellClick:function(e, cell) {
           cell.getRow().toggleSelect();
        }
      },
      {
        title:"Menu Section", field:"menusection_id", responsive:0, width:200, frozen:true, formatter:"link", formatterParams: {
            labelField:"menusection.name",
            urlPrefix:"/menusections/",
        }
      },
      { rowHandle:true, formatter:"handle", headerSort:false,  width:30, minWidth:30 },
      { title:" ", field:"sequence", formatter:"rownum", width: 50, hozAlign:"right", headerHozAlign:"right", },
      {
        title:"Name", field:"id", responsive:0, formatter:"link", formatterParams: {
            labelField:"name",
            urlPrefix:"/menuitems/",
        }
       },
       {title:"Status", field:"status", width:150, responsive:0},
       {title:"Calories", field:"calories", width: 100, hozAlign:"right", headerHozAlign:"right" },
       {title:"Price", field:"price", formatter:"money", width: 100, hozAlign:"right", headerHozAlign:"right",
        formatterParams:{
           decimal:".",
           thousand:",",
           symbol:"$",
           negativeSign:true,
           precision:2,
        }
       },
       {title:"Created", field:"created_at", width:200, responsive:4, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       },
       {title:"Updated", field:"updated_at", width:200, responsive:5, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       }
      ],
    });
    menuItemTable.on("rowMoved", function(row){
        const rows = menuItemTable.getRows();
        for (let i = 0; i < rows.length; i++) {
            menuItemTable.updateData([{id:rows[i].getData().id, sequence:rows[i].getPosition()}]);
            let mui = {
              'menuitem': {
                  'sequence': rows[i].getPosition()
              }
            };
            fetch(rows[i].getData().url, {
                method: 'PATCH',
                headers:  {
                  "Content-Type": "application/json",
                  "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content
                },
                body: JSON.stringify(mui)
            });
        }
    });
    menuItemTable.on("rowClick", function(e, row){
        console.log("Row: " + JSON.stringify(row.getData()));
    });
</script>