<div class="page-header">
  <div class="row">
    <div class="col-10">
        <h2><%= t(".menuItem") %></h2>
    </div>
    <div class="col-2">
        <% if @menuitem.persisted? %>
          <%= link_to t(".cancel"), edit_menu_menusection_path(@menuitem.menusection.menu, @menuitem.menusection), class: "float-end btn btn-sm btn-light" %>
        <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', menuitem: @menuitem %>
  </div>
</div>

