<div class="page-header">
  <div class="row">
    <div class="col-10">
        <h2><%= t(".menuItem") %></h2>
    </div>
    <div class="col-2">
      <%
        # Determine the menusection for the cancel link
        menusection = @menuitem.menusection || @futureParentMenuSection
        menu = menusection&.menu || @menu
        restaurant = menu&.restaurant
      %>
      <% if menusection && menu && restaurant %>
        <%= link_to t('.cancel'), edit_restaurant_menu_menusection_path(restaurant, menu, menusection), class: "float-end btn btn-light" %>
      <% elsif menu && restaurant %>
        <%= link_to t('.cancel'), edit_restaurant_menu_path(restaurant, menu), class: "float-end btn btn-light" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', menuitem: @menuitem %>
  </div>
</div>
