<div class="page-header">
  <div class="row">
    <div class="col-10">
        <h2><%= t(".size") %></h2>
    </div>
    <div class="col-2">
      <%= link_to t(".cancel"), edit_restaurant_path(@size.restaurant), class: "float-end btn btn-light" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', size: @size %>
  </div>
</div>

