<div class="row">
  <div class="col-6">
    <h1><%= t(".sizes") %></h1>
  </div>
  <div class="col-6 text-end">
  <%= link_to new_size_path, class: 'btn btn-sm btn-dark' do %>
    <i class="bi bi-plus"></i> <%= t(".size") %>
  <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="size-table">
</div>