<div class="row">
  <div class="col-sm-6">
    <h1>Sizes</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_size_path, class: 'btn btn-primary' do %>
    <i class="bi bi-plus"></i> Size
  <% end %>
  </div>
</div>
<div id="size-table">
</div>