<%# Turbo Stream replacement for the send_receipt_modal after a successful send %>
<div id="send_receipt_modal_<%= ordr.id %>">
  <span class="badge bg-success">
    <i class="bi bi-check-circle"></i>
    Receipt sent
  </span>
</div>
