<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tag.description %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= tag.menuitem_id %>
  </p>

</div>
