<!-- 2025 Design System: Updated with new button styles -->
<div class="row mb-4">
  <div class="col-6">
    <h1><%= t('.tags') %></h1>
  </div>
  <div class="col-6 text-end">
  <% restaurant_path = @futureParentRestaurant || current_user.restaurants.first %>
  <%= link_to new_restaurant_tag_path(restaurant_path), class: 'btn-2025 btn-2025-primary btn-2025-md' do %>
    <i class="bi bi-plus"></i> <%= t('.tag') %>
  <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="tag-table">
</div>

