<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1>New Tag</h1>
    </div>
    <div class="col-sm-2">
        <% if @tag.persisted? %>
          <%= link_to "Cancel", @tag, class: "float-end btn btn-light" %>
        <% else %>
          <%= link_to "Cancel", tags_path, class: "float-end btn btn-light" %>
        <% end %>
    </div>
  </div>
</div>
<%= render 'form', tag: @tag %>
