<div class="error-page">
  <h1><%= t('errors.not_found.title') %></h1>
  <p><%= t('errors.not_found.description') %></p>
  <p><%= t('errors.not_found.suggestion') %></p>

  <%= link_to t('common.back'), root_path, class: "btn btn-primary" %>
</div>
