<div class="error-page">
  <h1>Unprocessable Entity</h1>
  <p>The change you wanted was rejected.</p>
  <p>Maybe you tried to change something you didn't have access to.</p>
  
  <%= link_to "Go Back", :back, class: "btn btn-secondary" %>
  <%= link_to "Go Home", root_path, class: "btn btn-primary" %>
</div>
