<div class="row">
  <div class="col-sm-12 text-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="size-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-ordr-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>
