    <div style="padding-top:20px" class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="ratio ratio-1x1">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="m-5" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <%= render "showImage", src: track.image, alt: track.name %>
                    </div>
                </div>
                <div style='padding-left:0px' class="col-7">
                    <h6 style='padding-top:5px;padding-right:10px;' class="card-title"><strong><%= track.name %></strong></h6>
                    <h6 style='padding-top:0px;padding-right:10px;' ><small><%= track.description %></small></h6>
                </div>
            </div>
        </div>
    </div>
