    <div class="col-12 col-md-6 col-lg-4 padding-top-lg">
        <div class="card">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="ratio ratio-1x1">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="m-5" role="status">
                                <span class="visually-hidden"><%= t('.loading') %></span>
                            </div>
                        </div>
                        <%= render "/smartmenus/showImage", src: track.image, alt: track.name %>
                    </div>
                </div>
                <div class="col-7 ps-0">
                    <h6 class="card-title padding-top-sm padding-right-sm"><strong><%= track.name %></strong></h6>
                    <h6 class="pt-0 padding-right-sm"><small><%= track.description %></small></h6>
                </div>
            </div>
        </div>
    </div>
