<div class="row">
  <div class="col-sm-6">
    <h1>Restaurants</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
    Add New Restaurant
  <% end %>
  </div>
</div>
<div id="restaurant-table">
</div>

<script>
    var restaurantTable = new Tabulator("#restaurant-table", {
      height:405,
      responsiveLayout:true,
      pagination:"local",
      paginationSize:10,
      paginationCounter:"rows",
      ajaxURL: '/restaurants.json',
      layout:"fitColumns",
      columns: [
      {
        title:"Name", field:"id", width: 200, responsive:0, formatter:"link", formatterParams: {
            labelField:"name",
            urlPrefix:"/restaurants/",
        }
       },
       {
          title: 'Address',
          field: 'address', responsive:1,
          mutator: (value, data) => data.address1 + '\n' + data.address2 + '\n' + data.state + '\n' + data.city + '\n' + data.postcode,
       },
       {title:"Status", field:"status", width:150, responsive:0},
       {title:"Capacity", field:"capacity", hozAlign:"right", headerHozAlign:"right", width:150, responsive:3},
       {title:"Created", field:"created_at", width:200, responsive:4, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       },
       {title:"Updated", field:"updated_at", width:200, responsive:5, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       }
      ],
    });
    //trigger an alert message when the row is clicked
    restaurantTable.on("rowClick", function(e, row){
    });
</script>
