<div class="page-header">
  <div class="row">
    <div class="col-10">
        <h2 id="newRestaurant"><%=t(".restaurant")%></h2>
    </div>
    <div class="col-2">
        <% if @restaurant.persisted? %>
          <%= link_to t('.cancel'), @restaurant, class: "float-end btn btn-sm btn-light" %>
        <% else %>
          <%= link_to t('.cancel'), restaurants_path, class: "float-end btn btn-sm btn-light" %>
        <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>