<div class="row">
  <div class="col-sm-6">
    <h1>Opening Times</h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="activate-row" class='btn btn-success' disabled>Activate</button>
    <button id="deactivate-row"class='btn btn-danger' disabled>Deactivate</button>
    <%= link_to new_restaurantavailability_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus"></i> Restaurantavailability
    <% end %>
  </div>
</div>
<div id="restaurantavailability-table">
</div>
