<div class="row">
  <div class="col-sm-6">
    <h1>Menu Availability</h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="activate-row" class='btn btn-success' disabled>Open</button>
    <button id="deactivate-row"class='btn btn-danger' disabled>Close</button>
    <%= link_to new_menuavailability_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus"></i> Menu Availability
    <% end %>
  </div>
</div>
<div id="menuavailability-table">
</div>
