<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
        <h1><%= t(".tax") %></h1>
    </div>
    <div class="col-sm-2">
        <% if @tax.persisted? %>
          <%= link_to t(".cancel"), @tax, class: "float-end btn btn-light" %>
        <% else %>
          <%= link_to t(".cancel"), taxes_path, class: "float-end btn btn-light" %>
        <% end %>
    </div>
  </div>
</div>
<%= render 'form', tax: @tax %>
