<div class="row">
  <div class="col-sm-6">
    <h1><%=t('.taxes')%></h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_tax_path, class: 'btn btn-sm btn-primary' do %>
    <i class="bi bi-plus"></i> Tax
  <% end %>
  </div>
</div>
<div style="padding-top:10px" id="tax-table">
</div>
