<div class="row">
  <div class="col-sm-6">
    <h1>Allergyns</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_allergyn_path, class: 'btn btn-primary' do %>
    <i class="bi bi-plus"></i> Allergyn
  <% end %>
  </div>
</div>
<div id="allergyn-table">
</div>

<script>
    var allergynTable = new Tabulator("#allergyn-table", {
      height:405,
      responsiveLayout:true,
      pagination:"local",
      paginationSize:10,
      paginationCounter:"rows",
      ajaxURL: '/allergyns.json',
      layout:"fitColumns",
      columns: [
       {
         formatter:"rowSelection", titleFormatter:"rowSelection", width: 20, headerHozAlign:"center", hozAlign:"center", headerSort:false, cellClick:function(e, cell) {
            cell.getRow().toggleSelect();
         }
       },
      {
        title:"Name", field:"id", responsive:0, formatter:"link", formatterParams: {
            labelField:"name",
            urlPrefix:"/allergyns/",
        }
       },
       {title:"Symbol", field:"symbol", width:150, responsive:0},
       {title:"Created", field:"created_at", width:200, responsive:4, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       },
       {title:"Updated", field:"updated_at", width:200, responsive:5, hozAlign:"right", headerHozAlign:"right", formatter:"datetime", formatterParams:{
        inputFormat:"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        outputFormat:"dd/MM/yyyy HH:mm",
        invalidPlaceholder:"(invalid date)",
        }
       }
      ],
    });
    //trigger an alert message when the row is clicked
    allergynTable.on("rowClick", function(e, row){
    });
</script>
