<div class="row">
  <div class="col-sm-6">
    <h1>Allergyns</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_allergyn_path, class: 'btn btn-primary' do %>
    <i class="bi bi-plus"></i> Allergyn
  <% end %>
  </div>
</div>
<div id="allergyn-table">
</div>
