<div id="<%= dom_id restaurantlocale %>">
  <p>
    <strong>Locale:</strong>
    <%= restaurantlocale.locale %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= restaurantlocale.status %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= restaurantlocale.restaurant_id %>
  </p>

</div>
