<div class="row">
  <div class="col-sm-6">
    <h1>Table Settings</h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="unarchive-row" class='btn btn-success' disabled>Unarchive</button>
    <button id="archive-row"class='btn btn-danger' disabled>Archive</button>
    <%= link_to new_tablesetting_path, class: 'btn btn-primary' do %>
        <i class="bi bi-plus"></i> Table Setting
    <% end %>
  </div>
</div>
<div id="tablesetting-table">
</div>
