<div class="row">
  <div class="col-6">
    <h1><%=t('.tips')%></h1>
  </div>
  <div class="col-6 text-end">
    <% if @futureParentRestaurant %>
      <%= link_to restaurant_path(id: @futureParentRestaurant.id), class: 'btn btn-sm btn-light' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% end %>
  <% restaurant_path = @futureParentRestaurant || current_user.restaurants.first %>
  <%= link_to new_restaurant_tip_path(restaurant_path), class: 'btn btn-sm btn-dark' do %>
    <i class="bi bi-plus"></i> Tip
  <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="tip-table">
</div>
