<div id="<%= dom_id testimonial %>">
  <p>
    <strong>Testimonial:</strong>
    <%= testimonial.testimonial %>
  </p>

  <p>
    <strong>User:</strong>
    <%= testimonial.user_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= testimonial.restaurant_id %>
  </p>

</div>
