
<!DOCTYPE html>
<html style='max-width: 100%;' class="h-100">
<style>
    ::-webkit-scrollbar {
        height: 0px;
        width: 4px;
        border: 1px solid #d5d5d5;
    }
    .form-control:disabled {
        background-color: #fafafa;
        opacity: 1;
    }
    .tabulator-row-odd {
        background-color: #ffffff !important;
    }
    .tabulator-row-even {
        background-color: #ffffff !important;
    }
    .disabled .ts-control {
        opacity: 1.0;
        background-color: #fafafa;
    }
    .ts-dropdown, .ts-control, .ts-control input {
        color: #000000;
        padding-left:12px;
        font-size: 16px;
        line-height: 18px;
    }
</style>

  <head>
    <%= render 'shared/head' %>
  </head>

  <body style='overflow-x: hidden;' class="d-flex flex-column min-vh-100">
    <div style=' display: flex;min-height: 100vh;flex-direction: column;justify-content: space-between;'>
      <div style='padding-left:0px;padding-right:0px;' class="container-fluid">
        <main class="flex-wrapper">
          <%= render 'shared/navbar' %>
          <div style="--bs-gutter-x:0.0rem;" class="container-fluid">
                <div style="height:5px"></div>
                <%= yield %>
          </div>
        </main>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
